@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&family=Space+Mono:wght@400;700&display=swap");
@import "tailwindcss";

:root {
	font-family: "Space Grotesk", "Space Mono", sans-serif;
}

body {
	background-color: #0a0f1a;
}